<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Rock Paper Scissors</title>

  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/main.js"></script>

</head>

<body>
  <header>
    <h1>Rock Paper Scissors</h1>
  </header>

  <main>
    <div class="score-board">
      <div class="badge" id="user-label">user</div>
      <div class="badge" id="comp-label">comp</div>
      <span id="user-score">0</span> : <span id="comp-score">0</span>
    </div>

    <div class="result">
      <p>Please select your move!</p>
    </div>

    <div class="choices">
      <div class="choice">
        <button onClick="playerChoice('Rock')" class="option">Rock</button>
      </div>
      <div class="choice">
        <button onClick="playerChoice('Paper')" class="option">Paper</button>
      </div>
      <div class="choice">
        <button onClick="playerChoice('Scissors')" class="option">
          Scissors
        </button>
      </div>
    </div>

    <div class="reset">
      <button onClick="reset()">Reset Game</button>
    </div>

    <table class="table">
      <tr>
        <th>Moves</th>
        <th>Player</th>
        <th>Computer</th>
        <th>Result</th>
      </tr>
      <tr class="tableBody"></tr>

      <tr>
        <td class="moves0"></td>
        <td class="player0"></td>
        <td class="computer0"></td>
        <td class="result0"></td>
      </tr>
      <tr>
        <td class="moves1"></td>
        <td class="player1"></td>
        <td class="computer1"></td>
        <td class="result1"></td>
      </tr>
      <tr>
        <td class="moves2"></td>
        <td class="player2"></td>
        <td class="computer2"></td>
        <td class="result2"></td>
      </tr>
      <tr>
        <td class="moves3"></td>
        <td class="player3"></td>
        <td class="computer3"></td>
        <td class="result3"></td>
      </tr>
      <tr>
        <td class="moves4"></td>
        <td class="player4"></td>
        <td class="computer4"></td>
        <td class="result4"></td>
      </tr>
    </table>
  </main>

</body>

</html>